#wpadminbar{
    bottom:0;
    top:unset;
    transition: all 500ms;
    transform:translate3d(0, 100%, 0);
    background: #333;
    position: fixed;
  }

  #wpadminbar .menupop.hover .ab-sub-wrapper{
    bottom:100%;
  }

  #wpadminbar-toggle{
    position:fixed;
    bottom:0;
    display:inline-block;
    padding:5px 10px;
    background: #333;
    color:#FFF;
    text-transform:uppercase;
    transition: all 500ms;
    text-decoration: none;
    z-index:99;
    width:30px;
    height:30px;
    text-align:center;
    font-size:20px;
    opacity: .8;
    left:0;
  }

  #wpadminbar-toggle span{
    display:block;
    transition: all 500ms;
    transform:translate3d(-50%, -50%, 0);
    position:absolute;
    top:50%;
    left:50%;
    transform-origin: center;
  }

  #wpadminbar-toggle.active span{
    transform:translate3d(-50%, -50%, 0) rotate(180deg);
  }

  #wpadminbar.active{
    transform:translate3d(0, 0, 0);
  }

  #wpadminbar-toggle.active{
    bottom:32px;
  }

  @media screen and (max-width: 782px) {
    #wpadminbar-toggle.active{
      bottom:46px;
    }
  }