.call-to-action {
    height: 500px;
    position: relative;
    background-color: #9f9f9f;
}

.call-to-action.no-bg {
    background-color: transparent;
    height: 200px;
}

@media (max-width: 992px) {
    .call-to-action {
        height: 300px;
    }

    .call-to-action.no-bg {
        height: 200px;
    }
}

.call-to-action .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.call-to-action__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    color: #FFF;
    text-align: center;
}

.call-to-action.no-bg .call-to-action__content {
    color: #333;
}

.call-to-action .btn {
    position: relative;
    padding: 20px 0;
    min-width: 150px;
}

.call-to-action .btn i {
    font-size: 60px;
    position: absolute;
    line-height: 0;
    top: 35%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.call-to-action.no-bg .btn i {
    display: none;
}