<div class="widget text-heading">
    <div class="container">
        <div class="text-heading__content" data-sal="slide-up" style="--sal-duration: 1s; --sal-delay: 200ms;">
            {% if instance.text is not empty %}
                <h2 class="text-heading__title">{{ instance.text }}</h2>
            {% endif %}
            
            {% if instance.description is not empty %}
                <div class="text-heading__description">
                    {{ instance.description|wpautop }}
                </div>
            {% endif %}
        </div>
    </div>
</div>