{% if social_media is not empty %}
    <ul class="social-media-share">
        {% for key, item in social_media %}
            <li>
                <a href="{{ item.url }}" data-popup="{{ item.popup }}" data-title="{{ key }}">
                    {% if item.logo_type == 'font-icon' %}
                        <i class="{{ item.logo }}"></i>
                    {% else %}
                        <img data-src="{{ Image(item.logo).src }}" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="{{ item.name }}" class="lazyload">
                    {% endif %}
                    {{ key }}
                </a>    
            </li>
        {% endfor %}
    </ul>
{% endif %}
