<form id="dev-generator">
    <table>
        <tr>
            <td><label for="">Generate</label></td>
            <td>
                <select name="type">
                    <option value="module">Module</option>
                    <option value="widget">SiteOrigin Widget</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Name</td>
            <td>
                <input type="text" name="name">
            </td>
        </tr>
    </table>
    <input type="submit" value="Generate">
</form>