<div id="fl-dropzone">
  <div class="fl-upload-text-wrapper">
    <i class="dashicons dashicons-cloud-upload"></i>
    <p>Drag .zip files here or <a id="fl-browse" href="javascript:;">Browse</a></p>
    <small>Maximum upload file size: {{ max_upload_size }}.</small>
  </div>
</div>

<br />
<pre id="console"></pre>

<div class="fl-modal-wrapper">
  <div class="fl-modal-content-wrapper" style="background:#FFF">
  <span class="fl-close-modal">&times;</span>
  <div class="fl-modal-content">
    <iframe></iframe>
  </div>
  </div>
</div>

<div class="fl-wrapper">
  <strong>Available Fonts</strong>
  <hr/>
  <div class="fl-uploaded-wrapper">
    {% if fonts is not empty %}
        {% for dir, font in fonts %}
            <div class="fl-item {{ font.status ? 'fl-enabled' : 'fl-disabled' }}">
              <div class="fl-item-left">
                <p class="fl-font-name">{{ font.name }}</p>
                <span class="fl-font-weight">Font Weight: {{ font.weight }}</span>
                <ul class="fl-more-options">
                  {% if font.demo %}
                    <li><a href="javascript:void(0)" class="fl-btn-preview" data-url="{{ font.font_uri ~ '/' ~ dir ~ '/' ~ font.demo }}">preview</a></li>
                  {% endif %}

                  {% if font.selection %}
                    <li><a href="{{ font.font_uri ~ '/' ~ dir ~ '/' ~ font.selection }}" class="fl-btn-json" download>download selection.json</a></li>
                  {% endif %}

                  <li><a href="javascript:void(0)" class="fl-btn-delete" data-folder-name="{{ dir }}">delete</a></li>
                </ul>
              </div>
              <div class="fl-item-right">
                <ul>
                  <li><label class="fl-switch"><input type="checkbox" class="fl-checkbox" data-folder-name="{{ dir }}" {{ font.status ? 'checked' : '' }}><div class="slider round"></div></label></li>
                </ul>
              </div>
            </div>
        {% endfor %}
    {% else %}
      <p>No fonts were found.</p>      
    {% endif %}
  </div>
</div>
