@media (max-width: 992px) {
    .content-grid .inner>.row>.col {
        margin-bottom: 60px;
    }

    .content-grid .inner>.row>.col:last-child {
        margin-bottom: 0;
    }
}

.content-grid .inner {
    width: 90%;
    margin: 0 auto;
}

.content-grid.partner .container {
    max-width: 100%;
}

.content-grid.partner .inner {
    width: 100%;
}

.content-grid.partner .inner>.row {
    justify-content: center;
}

.content-grid.partner .inner>.row .row {
    width: 90%;
    margin: 0 auto;
}

.content-grid.partner .content-grid__image {
    padding-bottom: 100%;
}

.content-grid__title {
    text-align: center;
    margin-bottom: 30px;
}

.content-grid__subtitle {
    color: #888;
}

.content-grid__subtitle a {
    color: #888;
}

@media (max-width: 992px) {
    .content-grid .inner {
        width: 100%;
    }
}

.content-grid__image {
    padding-bottom: 120%;
    background-color: #9f9f9f;
    position: relative;
    margin-bottom: 30px;
}

.nft-partners .content-grid__image {
    background-color: transparent;
}

@media (max-width: 992px) {
    .content-grid__image {
        padding-bottom: 100%;
    }
}

.content-grid__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

.nft-partners .content-grid__image img {
    object-fit: contain;
}

.content-grid__content {
    text-align: center;
}

.content-grid__heading {
    margin-bottom: 30px;
}

.content-grid__title {
    margin-bottom: 15px;
    font-size: 34px;
}

@media (max-width: 992px) {
    .content-grid__title {
        font-size: 26px;
    }
}

.content-grid__description {
    margin-bottom: 30px;
    min-height: 165px;
}

@media (max-width: 992px) {
    .content-grid__description {
        min-height: auto;
    }
}