@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?oq2lpk');
  src:  url('fonts/icomoon.eot?oq2lpk#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?oq2lpk') format('truetype'),
    url('fonts/icomoon.woff?oq2lpk') format('woff'),
    url('fonts/icomoon.svg?oq2lpk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-long-down:before {
  content: "\e900";
}
.icon-arrow-long-right:before {
  content: "\e901";
}
.icon-patreon:before {
  content: "\e902";
  color: #ff5900;
}
.icon-arrow-right:before {
  content: "\ea3c";
}
.icon-arrow-down:before {
  content: "\ea3e";
}
.icon-whatsapp:before {
  content: "\ea93";
}
