<div class="widget sponsor-grid">
    <div class="container">
        <div class="row {{ instance.sponsors|length == 2 ? 'center' : '' }}">
            {% set delay = 0 %}
            {% for item in instance.sponsors %}
                {% set delay = delay + 200 %}
                <div class="col col-12 col-lg-4">
                    <div data-sal="slide-up" style="--sal-duration: 1s; --sal-delay: {{ delay }}ms;">
                        <div class="sponsor-grid__thumbnail">
                            <img data-src="{{ Image(item.image).src('large') }}" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="{{ Image(item.image).alt }}" class="lazyload">
                        </div>
                        <div class="sponsor-grid__content">
                            <h2 class="sponsor-grid__title">{{ item.title }}</h2>
                            <label class="sponsor-grid__label">€{{ item.price }} per {{ item.label }}</label>
                            <div class="sponsor-grid__description">
                                {{ item.description|wpautop }}
                            </div>
                            <div class="sponsor-grid__footer">
                                <div class="number-counter">
                                    <input type="number" name="number" min="1" step="1" value="1">
                                    <input type="hidden" name="price" value="{{ item.price }}">
                                    <input type="hidden" name="title" value="{{ item.title }}">
                                    <div class="number-counter__arrow">
                                        <span class="arrow" data-counter="plus"></span>
                                        <span class="arrow" data-counter="minus"></span>
                                    </div>
                                </div>
                                <label>€<span class="total-price">{{ item.price }}</span></label>
                                <a href="#sponsor" class="btn trigger-modal glightbox-{{ loop.index0 }}" data-zoomable="false" data-draggable="false">Sponsor your {{ item.label }}(s)</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div id="sponsor" class="d-none">
    {% apply shortcodes %}
        [give_form id="70"]
    {% endapply %}
</div>