/*
Theme Name: Metamorfosa
*/

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
    overflow-x: hidden;
    width: 100%;
    position: relative;
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: #333;
    font-size: 18px;
    font-weight: 300;
}

@media (max-width: 992px) {
    body {
        font-size: 16px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1300px;
    }
}

@media (max-width: 992px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
}

button:focus {
    outline: 0;
}

a:hover,
a:visited,
a:active,
a:focus {
    text-decoration: none;
}

.widget {
    margin-bottom: 100px;
}

@media (max-width: 992px) {
    .widget {
        margin-bottom: 60px;
    }
}

.no-banner .page-wrap {
    margin-top: 150px;
}

/*
* Image
*/
img {
    max-width: 100%;
}

/*
* Heading
*/
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 120%;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 26px;
}

@media (max-width: 992px) {
    h1 {
        font-size: 46px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 20px;
    }
}

/*
* Button
*/
.btn,
#give-purchase-button {
    color: #FFF;
    display: inline-block;
    background-color: #37bcc1;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    min-width: 200px;
    transition: all 500ms;
    text-align: center;
}

@media (max-width: 992px) {
    .btn {
        font-size: 16px;
        min-width: auto;
    }
}

.btn.whatsapp {
    display: inline-flex;
    align-items: center;
    background-color: #25D366;
}

.btn.whatsapp:hover {
    background-color: #128C7E;
}

.btn i {
    font-size: 30px;
    margin-right: 15px;
}

.btn:hover,
#give-purchase-button:hover {
    background-color: #2fa2a7;
    color: #FFF;
}

/*
* Lazyload
*/
.lazyload,
.lazyloading {
    opacity: 0;
}

.lazyloaded {
    opacity: 1;
    transition: opacity 500ms;
}

.error404 #main {
    margin-top: 200px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 200px;
}

.error404 #main h1 {
    font-size: 60px;
}

.error404 #main h2 {
    font-size: 24px;
    font-weight: 400;
}