<div class="widget images-grid">
    {% if instance.images is not empty %}
        {% set delay = 0 %}
        {% for image in instance.images %}
            {% set delay = delay + 100 %}
            <div class="images-grid__item {{ loop.index == 1 ? 'half' : '' }}" data-sal="slide-up" style="--sal-duration: 1s; --sal-delay: {{ delay }}ms;">
                <a href="{{ Image(image).src }}" class="images-grid__link" data-gallery="gallery">
                    <img data-src="{{ Image(image).src('large') }}" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="{{ Image(image).alt }}" class="lazyload">
                </a>
            </div>
        {% endfor %}
    {% endif %}
</div>