.text-image .row {
    align-items: center;
}

@media (max-width: 992px) {
    .text-image .col {
        margin-bottom: 30px;
    }

    .text-image .col:last-child {
        margin-bottom: 0;
    }
}

.text-image__image a {
    position: relative;
    display: block;
}

.text-image__image {
    position: relative;
}

.text-image__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.text-image__image a .play-button {
    width: 100px;
    height: 100px;
    position: absolute;
    border: 5px solid #FFF;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 9;
}

.text-image__image a .play-button span {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 40px;
    border-color: transparent transparent transparent #FFF;
    display: block;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate3d(-50%, -50%, 0);
}

.text-image__content {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

@media (max-width: 992px) {
    .text-image__content {
        width: 100%;
    }
}