{% extends 'base.twig' %}

{% block main %}
    <section class="section section-main section-main--{{ post.post_type }}">
        <div class="container">
            <h1>Page not found</h1>
            <h2>The page you are looking for doesn't exist or an other error occurred.</h2>
        </div>
    </section>
{% endblock %}