<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.theme.link }}/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.theme.link }}/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.theme.link }}/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{ site.theme.link }}/favicon/site.webmanifest">
    <link rel="mask-icon" href="{{ site.theme.link }}/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="{{ site.theme.link }}/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-config" content="{{ site.theme.link }}/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <title>{{ wp_title ? wp_title ~ ' | ' }} {{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ function('wp_head') }}
    {% block head %}{% endblock %}
</head>
<body class="{{ body_class }}">

    {% apply shortcodes %}
        [md-header]
    {% endapply %}

    <div class="page-wrap" id="main-content">
        {% if post.meta('show_banner') %}
            {% apply shortcodes %}
                [md-banner]
            {% endapply %}
        {% endif %}
        
        {% block page %}
            <main id="main">
                <div class="content-wrap">
                    {% block beforeMain %}{% endblock %}

                    {% block main %}{% endblock %}

                    {% block afterMain %}{% endblock %}
                </div>
            </main>
            
            {% block beforeFooter %}{% endblock %}

            {% block footer %}
                {% apply shortcodes %}
                    [md-footer]
                {% endapply %}
            {% endblock %}

            {% block afterFooter %}{% endblock %}
        {% endblock %}
    </div>
    {{ function('wp_footer') }}
</body>
</html>
