.images-grid {
    display: flex;
}

@media (max-width: 992px) {
    .images-grid {
        flex-wrap: wrap;
    }
}

.images-grid .images-grid__item {
    position: relative;
    margin-right: 15px;
    padding-bottom: 25%;
    flex: 1;
    background-color: #9f9f9f;
}

@media (max-width: 992px) {
    .images-grid .images-grid__item {
        padding-bottom: 56.25%;
    }
}

.images-grid .images-grid__item.half {
    flex-basis: 20%;
}

@media (max-width: 992px) {
    .images-grid .images-grid__item.half {
        flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 15px;
    }
}

.images-grid .images-grid__item:last-child {
    margin-right: 0;
}

.images-grid .images-grid__item img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}