<div class="widget our-team">
    <div class="container">
        <div class="row">
            {% set delay = 0 %}
            {% set col = 'col-lg-2' %}

            {% if instance.column == 4 %}
                {% set col = 'col-lg-3' %}
            {% endif %}

            {% for team in instance.our_team %}
                {% set delay = delay + 50 %}
                <div class="col col-6 {{ col }}">
                    <div data-sal="slide-up" style="--sal-duration: 1s; --sal-delay: {{ delay }}ms;">
                        <div class="our-team__image">
                            <img data-src="{{ Image(team.image) }}" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="{{ Image(team.image).alt }}" class="lazyload">
                        </div>
                        <div class="our-team__content">
                            <h4 class="our-team__title">{{ team.name }}</h4>
                            <label class="our-team__position">{{ team.position }}</label>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>