<div class="widget call-to-action {{ not instance.image ? 'no-bg' : '' }}">
    {% if instance.image %}
        <div class="bg lazyload" data-bg="{{ Image(instance.image).src }}"></div>
    {% endif %}
    <div class="container">
        <div class="call-to-action__content">
            <div data-sal="slide-up" style="--sal-duration: 1s; --sal-delay: 200ms;">
                {% if instance.text is not empty %}
                    <h2 class="call-to-action__title">{{ instance.text }}</h2>
                {% endif %}

                {% if instance.description is not empty %}
                    <div class="call-to-action__description">
                        {{ instance.description|wpautop }}
                    </div>
                {% endif %}

                <a href="{{ instance.button.link|siteorigin_url }}" class="btn" target="{{ instance.button.open_in_new_tab ? '_blank' : '' }}"><i>&rarr;</i> {{ instance.button.label }}</a>
            </div>
        </div>
    </div>
</div>