.experience-grid .col {
    margin-bottom: 60px;
}

.experience-grid__image {
    margin-bottom: 30px;
    background-color: #9f9f9f;
    position: relative;
    padding-bottom: 70%;
}

.experience-grid__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
}

.experience-grid__content {
    text-align: center;
}

.experience-grid__label {
    margin-bottom: 30px;
}

.experience-grid__description {
    margin-bottom: 30px;
    min-height: 140px;
}

@media (max-width: 992px) {
    .experience-grid__description {
        min-height: auto;
    }
}