.patreon-widget {
    margin-bottom: 100px;
}

@media (max-width: 992px) {
    .patreon-widget {
        margin-bottom: 60px;
    }
}

.patreon-widget .row {
    align-items: center;
}

@media (max-width: 992px) {
    .patreon-widget .col {
        margin-bottom: 30px;
    }
}

.patreon-widget__image {
    width: 90%;
}

@media (max-width: 992px) {
    .patreon-widget__image {
        width: 100%;
    }
}

.patreon-widget__content {
    text-align: center;
}

.patreon-widget__content--title {
    margin-bottom: 30px;
}

.patreon-widget__content--description {
    width: 80%;
    margin: 0 auto 30px auto;
}

@media (max-width: 992px) {
    .patreon-widget__content--description {
        width: 100%;
    }
}

.patreon-widget .btn {
    display: inline-flex;
    align-items: center;
    background-color: #E5552E;
}

.patreon-widget .btn:hover {
    background-color: #d6431b;
}

.patreon-widget .btn i:before {
    color: #FFF;
}