.our-team .col {
    margin-bottom: 60px;
}

@media (max-width: 992px) {
    .our-team .col {
        margin-bottom: 30px;
    }
}

.our-team__image {
    margin-bottom: 15px;
    padding-bottom: 110%;
    position: relative;
    background-color: #f1f1f1;
}

.our-team__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
}

.our-team__content {
    text-align: center;
}

.our-team__title {
    margin-bottom: 5px;
}

.our-team__position {
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 0;
}