.text-heading {
    text-align: center;
}

.text-heading__content {
    width: 50%;
    margin: 0 auto;
}

.roadmap .text-heading__description {
    color: #888;
}

.roadmap .text-heading__description strong {
    color: #333;
    font-weight: 600;
}

@media (max-width: 991px) {
    .text-heading__content {
        width: 100%;
    }
}

.text-heading__title {
    margin-bottom: 30px;
}