.font-loader-field-container {
  width: 100%;
}

#fl-dropzone {
  padding: 40px;
  background-color: #f1f1f1;
  border: 3px dashed #d6d6d6;
  position: relative;
}

#fl-dropzone .fl-upload-text-wrapper {
  text-align: center;
}

#fl-dropzone .fl-upload-text-wrapper i {
  font-size: 60px;
  color: #d6d6d6;
  width: unset;
  height: unset;
}

#fl-dropzone .fl-upload-text-wrapper p {
  font-size: 18px;
  margin-top: 10px;
  color: #999;
}

#fl-dropzone .fl-upload-text-wrapper small {
  color: #999;
}

.fl-upload-item {
  margin-bottom: 30px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: all 500ms;
}

.fl-upload-item.hide {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.fl-upload-item .fl-upload-meta-wrapper {
  display: flex;
}

.fl-upload-item .fl-upload-icon,
.fl-upload-item .fl-upload-meta {
  display: inline-block;
  position: relative;
}

.fl-upload-item .fl-upload-icon {
  width: 50px;
}

.fl-upload-item .fl-upload-icon i {
  font-size: 40px;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #999;
  width: unset;
  height: unset;
}

.fl-upload-item .fl-upload-meta .fl-upload-file-name {
  margin-top: 0;
  font-weight: 600;
}

.fl-upload-item .fl-upload-meta .fl-upload-file-size {
  font-size: 12px;
  color: #999;
}

.fl-upload-item .fl-upload-progress-wrapper {
  margin-top: 5px;
}

.fl-upload-item .fl-upload-progress-rail {
  width: 100%;
  height: 7px;
  background-color: #d6d6d6;
  display: block;
  border-radius: 10px;
}

.fl-upload-item .fl-upload-progress-number {
  display: block;
  height: 100%;
  border-radius: 10px;
  background-color: #0085ba;
  transition: width 300ms;
}

.fl-more-options li {
  display: inline-block;
  margin-right: 10px;
}

.fl-wrapper .fl-item {
  overflow: hidden;
  padding: 15px 0 15px 0;
  border-bottom: 1px solid #e8e8e8;
}

.fl-wrapper .fl-item:last-child {
  border-bottom: 0;
}

.fl-item .fl-font-weight {
  font-size: 12px;
  color: #999;
}

.fl-wrapper .fl-item-left .fl-font-name,
.fl-wrapper .fl-item-right ul {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.fl-wrapper .fl-item-left {
  float: left;
}

.fl-wrapper .fl-item-right {
  float: right;
}

.fl-wrapper .fl-item-right > ul > li {
  display: inline-block;
}

.fl-wrapper .fl-item-right > ul > li > span {
  display: block;
  cursor: pointer;
}

.fl-wrapper .fl-item {
  transition: all 300ms;
}

.fl-wrapper .fl-item.fl-disabled .fl-btn-status-toggle {
  background-color: #999;
  color: #FFF;
}

.fl-switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.fl-switch input {
  display: none;
}

.fl-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ca2222;
  transition: 0.4s;
  border-radius: 34px;
}

.fl-switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.fl-enabled .fl-switch input:checked + .slider {
  background-color: #2ab934;
}

.fl-switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.fl-enabled .fl-switch input:checked + .slider:before {
  transform: translateX(55px);
}

.fl-switch .slider:after {
  content: "OFF";
  color: white;
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

.fl-enabled .fl-switch input:checked + .slider:after {
  content: "ON";
}

.fl-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 500ms;
}

.fl-modal-wrapper.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.fl-modal-content-wrapper {
  width: 50%;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  overflow: hidden;
}

.fl-modal-wrapper .fl-modal-content-wrapper {
  background-repeat: no-repeat !important;
  background-position: center center !important;
}

.fl-close-modal {
  position: relative;
  cursor: pointer;
  font-size: 50px;
  font-weight: 300;
  display: inline-block;
  color: #9e9e9e;
  float: right;
}

.fl-modal-content {
  clear: both;
  height: calc(100% - 30px);
  position: relative;
  margin-top: 30px;
}

.fl-modal-content iframe {
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 1600px) {
  .font-loader-field-container {
    width: 60%;
  }
}

