<div class="wrap">
    <h1 id="wp-heading-inline">Developer Options</h1>

    <div class="card">
        <h2>Generator</h2>
        {% include "partials/dev-generator.twig" %}
    </div>

    <div class="card">
        <h2>Font Loader</h2>
        {% include "partials/font-loader.twig" with {
            fonts: fonts,
            max_upload_size: max_upload_size
        } %}
    </div>
</div>