<div class="widget experience-grid">
    <div class="container">
        <div class="row">
            {% set delay = 0 %}
            {% for item in instance.experiences %}
                {% set delay = delay + 50 %}
                <div class="col col-12 col-lg-4">
                    <div data-sal="slide-up" style="--sal-duration: 1s; --sal-delay: {{ delay }}ms;">
                        <div class="experience-grid__image">
                            <img data-src="{{ Image(item.image).src('large') }}" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="{{ Image(item.image).alt }}" class="lazyload">
                        </div>
                        <div class="experience-grid__content">
                            <h3 class="experience-grid__title">{{ item.title }}</h3>
                            <label class="experience-grid__label">{{ item.label }}</label>
                            <div class="experience-grid__description">
                                {{ item.description }}
                            </div>
                            {% set text = 'Hi Metamorfosa crew, I would like to book the '~ item.title ~' experience with you! Could you provide me with more information?' %}
                            <a href="https://wa.me/{{ option('phone')|tel|replace({'+' : ''}) }}?text={{ text|url_encode }}" class="btn whatsapp" target="_blank"><i class="icon-whatsapp"></i> {{ item.button_label }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>