<div class="patreon-widget" data-sal="slide-up" style="--sal-duration: 1s; --sal-delay: 100ms;">
    <div class="container">
        <div class="row">
            <div class="col col-12 col-lg-6">
                <div class="patreon-widget__image">
                    <img data-src="{{ Image(instance.image).src }}" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="{{ Image(instance.image).alt }}" class="lazyload">
                </div>
            </div>
            <div class="col col-12 col-lg-6">
                <div class="patreon-widget__content">
                    {% if instance.content.text is not empty %}
                        <h2 class="patreon-widget__content--title">{{ instance.content.text }}</h2>
                    {% endif %}

                    {% if instance.content.description is not empty %}
                        <div class="patreon-widget__content--description">
                            {{ instance.content.description|wpautop }}
                        </div>
                    {% endif %}

                    {% if instance.button.label is not empty %}
                        <a href="{{ instance.button.link|siteorigin_url }}" class="btn" target="{{ instance.button.open_in_new_tab ? '_blank' : '' }}">{{ instance.button.icon is not empty ? '<i class="'~ instance.button.icon ~'"></i>' : '' }}{{ instance.button.label }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>