.sponsor-grid .col {
    margin-bottom: 60px;
}

.sponsor-grid .col:last-child {
    margin-bottom: 0;
}

.sponsor-grid .container {
    max-width: 90%;
    margin: 0 auto;
}

@media (max-width: 992px) {
    .sponsor-grid .container {
        max-width: 100%;
    }
}

.sponsor-grid .row {
    justify-content: center;
}

.sponsor-grid__thumbnail {
    margin-bottom: 30px;
    padding-bottom: 56.25%;
    position: relative;
}

.sponsor-grid__thumbnail img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: contain;
    object-fit: contain;
}

.sponsor-grid__content {
    text-align: center;
}

.sponsor-grid__title {
    font-size: 28px;
}

.sponsor-grid__label {
    margin-bottom: 30px;
}

.sponsor-grid__description {
    margin-bottom: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.sponsor-grid__footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sponsor-grid__footer label {
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.number-counter {
    position: relative;
    width: 80px;
    height: 50px;
    border: 1px solid #333;
    border-radius: 10px;
}

.number-counter input {
    border: 0;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate3d(0, -50%, 0);
    width: 100%;
    text-align: center;
}

.number-counter input:focus {
    outline: 0;
}

.number-counter__arrow {
    position: absolute;
    right: 5px;
    top: 0;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.number-counter__arrow span {
    cursor: pointer;
    display: block;
    margin-bottom: 10px;
}

.number-counter__arrow span:last-child {
    margin-bottom: 0;
}

.number-counter__arrow span[data-counter=plus] {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 10px 5px;
    border-color: transparent transparent #333 transparent;
}

.number-counter__arrow span[data-counter=minus] {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 5px 0 5px;
    border-color: #333 transparent transparent transparent;
}

.gslide-inline {
    overflow: unset !important;
    overflow-y: auto !important;
}