<div class="imm_button-media-library-wrapper">
    <button type="button" name="button" class="button-primary imm_open-media-library" data-field-name="{{ name }}">Select Images</button>
    {% if value is not empty %}
        <button type="button" name="button" class="button-secondary imm_clear-all">Clear All</button>
    {% endif %}
</div>
<div class="imm_images-wrapper">
    <ul>
        {% if value is not empty %}
            {% for image_id in value %}
                <li class="imm_image-block">
                    <a href="javascript:void(0)" class="imm_del-image"><span class="dashicons dashicons-no"></span></a>
                    <img src="{{ Image(image_id).src('thumbnail') }}" data-id="{{ image_id }}">
                    <input type="hidden" class="siteorigin-widget-input" id="{{ id }}" name="{{ name ~ '[]' }}" value="{{ image_id }}"></li>
            {% endfor %}
        {% endif %}
    </ul>
</div>