.banner {
    width: 100%;
    height: 60vh;
    position: relative;
    margin-bottom: 100px;
    background-color: #9f9f9f;
}

@media (max-width: 992px) {
    .banner {
        margin-bottom: 60px;
        height: auto;
        padding-bottom: 56.25%;
    }
}

.banner.full-height {
    height: 100vh;
}

.banner__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-filter: contrast(0.9) brightness(0.9);
    filter: contrast(0.9) brightness(0.9);
}

.banner__content {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    text-align: center;
    color: #FFF;
}

@media (max-width: 992px) {
    .banner__content {
        bottom: 30px;
    }
}

.banner__title {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 65px;
}

@media (max-width: 992px) {
    .banner__title {
        font-size: 46px;
    }
}

.banner__subtitle {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 35px;
}

@media (max-width: 992px) {
    .banner__subtitle {
        font-size: 26px;
    }
}

.banner__description {
    font-size: 26px;
    font-weight: 200;
}

@media (max-width: 992px) {
    .banner__description {
        font-size: 20px;
    }
}

.banner .scroll-to-content {
    font-size: 55px;
    color: #FFF;
}