<section class="banner {{ post.meta('banner').full_height ? 'full-height' : '' }}">
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ Image(post.meta('banner').background).src }}" data-srcset="{{ Image(post.meta('banner').background).srcset }}" alt="{{ Image(post.meta('banner').background).alt }}" class="banner__bg lazyload">
    <div class="banner__content" data-sal="fade" style="--sal-duration: 1s; --sal-delay: 500ms;">
        {% set title = post.meta('banner').title %}
        {% set subtitle = post.meta('banner').subtitle %}
        {% set description = post.meta('banner').description %}

        {% if title is not empty %}
            <h1 class="banner__title">{{ title }}</h1>
            <h2 class="banner__subtitle">{{ subtitle }}</h2>
            <div class="banner__description">
                {{ description|wpautop }}
            </div>
            <a href="#main" class="scroll-to-content" data-scroll>&darr;</a>
        {% endif %}
        
    </div>
</section>