<div class="widget text-image" data-sal="slide-up" style="--sal-duration: 1s; --sal-delay: 200ms;">
    <div class="container">
        <div class="row">
            <div class="col col-12 col-lg-6 {{ instance.image_right ? 'order-lg-last' }}">
                <div class="text-image__image">
                    {% if instance.video_link %}
                        <a href="{{ instance.video_link }}" class="glightbox">
                            <div class="play-button"><span></span></div>
                            {{ image_ratio(instance.image) }}
                            <img data-src="{{ Image(instance.image).src('large') }}" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="{{ Image(instance.image).alt }}" class="lazyload">
                        </a>
                    {% else %}
                        {{ image_ratio(instance.image) }}
                        <img data-src="{{ Image(instance.image).src('large') }}" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="{{ Image(instance.image).alt }}" class="lazyload">
                    {% endif %}
                </div>
            </div>
            <div class="col col-12 col-lg-6 {{ instance.image_right ? 'order-lg-first' }}">
                <div class="text-image__content">
                    {% if instance.content.text is not empty %}
                        <h2 class="text-image__content--title">{{ instance.content.text }}</h2>
                    {% endif %}

                    {% if instance.content.description is not empty %}
                        <div class="text-image__content--description">
                            {{ instance.content.description|wpautop }}
                        </div>
                    {% endif %}

                    {% if instance.button.label is not empty %}
                        <a href="{{ instance.button.link|siteorigin_url }}" class="btn" target="{{ instance.button.open_in_new_tab ? '_blank' : '' }}">{{ instance.button.label }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>