<li class="nav__item nav__item--{{ level }} {{ item.class }}">
    <a href="{{ item.link }}" class="nav__link">
        <span class="nav__title">{{ item }}</span>
    </a>
    {% if item.children is not empty %}
        <ul class="nav__submenu">
            {% for child in item.children %}
                {%
                    include 'Header/nav-item.twig' with {
                        item: child,
                        level: level + 1
                    }
                %}
            {% endfor %}
        </ul>
    {% endif %}
</li>
