.hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, -webkit-filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}

.nav-active .hamburger .hamburger-inner,
.nav-active .hamburger .hamburger-inner::before,
.nav-active .hamburger .hamburger-inner::after,
.scroll .hamburger .hamburger-inner,
.scroll .hamburger .hamburger-inner::before,
.scroll .hamburger .hamburger-inner::after,
.no-banner .hamburger .hamburger-inner,
.no-banner .hamburger .hamburger-inner::before,
.no-banner .hamburger .hamburger-inner::after {
    background-color: #000;
}

.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #FFF;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -10px;
}

.hamburger-inner::after {
    bottom: -10px;
}

/*
* Squeeze
*/
.hamburger--squeeze .hamburger-inner {
    transition-duration: 0.075s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before {
    transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.nav-active .hamburger--squeeze .hamburger-inner {
    transform: rotate(45deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.nav-active .hamburger--squeeze .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.nav-active .hamburger--squeeze .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: transparent;
    transition: all 500ms;
    box-shadow: none;
}

@media (max-width: 991px) {
    .header {
        height: 130px;
        padding-bottom: 0;
    }
}

.scroll .header,
.no-banner .header {
    background-color: #FFF;
    box-shadow: 0 3px 10px -6px #999;
}

.nav-active .header {
    box-shadow: none;
}

.header:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translate3d(100%, 0, 0);
    pointer-events: none;
    transition: all 500ms;
    background-color: #FFF;
}

.nav-active .header:before {
    transform: translate3d(0, 0, 0);
}

.header__desktop .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__desktop--logo img {
    height: 80px;
    transition: -webkit-filter 500ms;
    transition: filter 500ms;
    transition: filter 500ms, -webkit-filter 500ms;
    -webkit-filter: none;
    filter: none;
}

.scroll .header__desktop--logo img,
.no-banner .header__desktop--logo img {
    -webkit-filter: brightness(100%) invert(100%);
    filter: brightness(100%) invert(100%);
}

.header__desktop--nav .nav {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
}

.header__desktop--nav .nav li {
    margin-right: 40px;
}

.header__desktop--nav .nav li:hover a:before,
.header__desktop--nav .nav li.current-menu-item a:before {
    transform: scaleX(1);
}

.header__desktop--nav .nav li:last-child {
    margin-right: 0;
}

.header__desktop--nav .nav li a {
    color: #FFF;
    font-weight: 400;
    font-size: 20px;
    position: relative;
}

.header__desktop--nav .nav a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #FFF;
    bottom: -5px;
    left: 0;
    transition: all 500ms;
    transform: scaleX(0);
    transform-origin: left;
}

.scroll .header__desktop--nav .nav li a,
.no-banner .header__desktop--nav .nav li a {
    color: #333;
}

.scroll .header__desktop--nav .nav a:before,
.no-banner .header__desktop--nav .nav a:before {
    background-color: #333;
}

.header__mobile--bar {
    width: 100%;
}

.header__mobile--bar .container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.header__mobile--logo img {
    height: 80px;
}

.header__mobile--logo img {
    transition: -webkit-filter 500ms;
    transition: filter 500ms;
    transition: filter 500ms, -webkit-filter 500ms;
    -webkit-filter: none;
    filter: none;
}

.nav-active .header__mobile--logo img,
.scroll .header__mobile--logo img,
.no-banner .header__mobile--logo img {
    transition-delay: 300ms;
    -webkit-filter: brightness(100%) invert(100%);
    filter: brightness(100%) invert(100%);
}

.header__mobile--nav {
    position: absolute;
    width: 100%;
    left: 0;
    top: 110px;
    height: calc(100vh - 110px);
    background-color: #FFF;
    padding-top: 30px;
    padding-left: 30px;
    transform: translate3d(100%, 0, 0);
    pointer-events: none;
    transition: all 500ms;
}

.nav-active .header__mobile--nav {
    transform: translate3d(0, 0, 0);
    pointer-events: auto;
}

.header__mobile--nav .nav {
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 0;
}

.header__mobile--nav .nav li {
    margin-bottom: 30px;
}

.header__mobile--nav .nav li:last-child {
    margin-bottom: 0;
}

.header__mobile--nav .nav a {
    font-size: 24px;
    color: #333;
    font-weight: 500;
}