<header class="header" [data-scroll-header]>
    <div class="header__desktop d-none d-lg-block">
        <div class="container">
            <div class="header__desktop--logo">
            <a href="{{ site.link }}">
                <img data-src="{{ site.theme.link }}/img/logo.png" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="{{ site.name }} Logo" class="lazyload">
            </a>
            </div>
            <nav class="header__desktop--nav">
                {% include 'Header/nav.twig' with {
                    menu: theme_menus.header_menu
                } only %}
            </nav>
        </div>
    </div>
    <div class="header__mobile d-block d-lg-none">
        <div class="header__mobile--bar">
            <div class="container">
                <div class="header__mobile--logo">
                    <a href="{{ site.link }}">
                        <img data-src="{{ site.theme.link }}/img/logo.png" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="{{ site.name }} Logo" class="lazyload">
                    </a>
                </div>
                <div class="header__mobile--hamburger">
                    <button class="hamburger hamburger--squeeze" type="button">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="header__mobile--nav">
            <div class="container">
                {% include 'Header/nav.twig' with {
                    menu: theme_menus.header_menu
                } only %}
            </div>
        </div>
    </div>
</header>