.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    border-top: 2px solid #333;
}

@media (max-width: 992px) {
    .footer {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.footer__nav .nav {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.footer__nav .nav a {
    color: #333;
    font-size: 20px;
    font-weight: 300;
}

.footer__social-media ul {
    list-style-type: none;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
}

.footer__social-media ul li {
    margin-right: 15px;
}

.footer__social-media ul li:last-child {
    margin-right: 0;
}

.footer__social-media ul img {
    width: 80px;
}