<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col col-lg-3">
                <nav class="footer__nav" data-sal="slide-up" style="--sal-duration: 1s; --sal-delay: 200ms;">
                    <h3 class="footer__title">Metamorfosa</h3>
                    {% include 'Header/nav.twig' with {
                        menu: theme_menus.header_menu
                    } only %}
                </nav>
            </div>
            <div class="col col-lg-3">
                <div class="footer__social-media" data-sal="slide-up" style="--sal-duration: 1s; --sal-delay: 400ms;">
                    <h3 class="footer__title">Follow us</h3>
                    {% if option('social_media') is not empty %}
                        <ul>
                            {% for key, item in option('social_media') %}
                                <li>
                                    <a href="{{ item.url }}" target="_blank">
                                        {% if item.logo_type == 'font-icon' %}
                                            <i class="{{ item.logo }}"></i>
                                        {% else %}
                                            <img data-src="{{ item.logo.thumbnail }}" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="{{ key }}" class="lazyload">
                                        {% endif %}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</footer>