.imm_image-block,
.imm_image-sortable-placeholder {
  display:inline-block;
  position:relative;
  margin:1px;
  overflow:hidden;
  width: 100px;
  height:100px;
  background-color: #FFF;
  padding:5px;
  border:1px solid #e8e8e8;
  text-align: center;
}

.imm_image-block img{
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height:100%;
}

.imm_image-block:hover{
  cursor: move;
  cursor: grab;
  cursor: -webkit-grab;
}

.imm_image-block:active{
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.imm_image-sortable-placeholder{
  background-color: #e8e8e8;
  border-color: transparent;
  position: relative;
}

.imm_image-sortable-placeholder:after{
  content:'DROP HERE';
  text-align: center;
  line-height: 100px;
  color:#999;
}

.imm_del-image{
  position:absolute;
  top:10px;
  right:10px;
  background-color:#F04;
  border-radius:10px;
}

.imm_del-image span{
  text-decoration:none;
  color:#FFF;
}

.imm_button-media-library-wrapper{
  margin-bottom:15px;
  margin-top:15px;
  border-bottom:1px solid #e7e7e7;
  padding-bottom:15px;
}
