<div class="widget content-grid {{ instance.style }}">
    <div class="container">
        <div class="inner">
            {% if instance.text is not empty %}
                <h2 class="content-grid__title" data-sal="slide-up" style="--sal-duration: 1s;">{{ instance.text }}</h2>
            {% endif %}
            
            <div class="row">
                {% set col = 'col-lg-4' %}

                {% if instance.column == '4' %}
                    {% set col = 'col-lg-3' %}
                {% endif %}
                
                {% if instance.grids %}
                    {% set delay = 0 %}
                    {% for grid in instance.grids %}
                        {% set delay = delay + 200 %}
                        <div class="col col-12 {{ col }}">
                            <div class="row" data-sal="slide-up" style="--sal-duration: 1s; --sal-delay: {{ delay }}ms;">
                                <div class="col-12 col-md-6 col-lg-12">
                                    <div class="content-grid__image">
                                        <img data-src="{{ Image(grid.image).src }}" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="{{ Image(grid.image).alt }}" class="lazyload">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-12">
                                    <div class="content-grid__content">
                                        <div class="content-grid__heading">
                                            {% if grid.title is not empty %}
                                                <h2 class="content-grid__title">{{ grid.title }}</h2>
                                            {% endif %}

                                            {% if grid.subtitle is not empty %}
                                                <div class="content-grid__subtitle">
                                                    {{ grid.subtitle|wpautop }}
                                                </div>
                                            {% endif %}
                                        </div>

                                        {% if grid.description is not empty %}
                                            <div class="content-grid__description">
                                                {{ grid.description|wpautop }}
                                            </div>
                                        {% endif %}

                                        {% if grid.button.link is not empty and grid.button.label is not empty %}
                                            <a href="{{ grid.button.link|siteorigin_url }}" class="btn" target="{{ grid.button.open_in_new_tab ? '_blank' : '' }}">{{ grid.button.label }}</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>